/*************************************************************************************************************
********************************************* GENERAL STYLES *************************************************
*************************************************************************************************************/
body{
    font-family: Lato, sans-serif;
    margin: 0;
    line-height: 1.4;
}
a{
    text-decoration: none;
    color: #4f6526;
}
::selection{
    background: rgba(79,101,38,255);
    color: #FFF;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(79,101,38,255);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: rgba(79,101,38,255);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive{
    background: rgba(79,101,38,255);
}
/*************************************************************************************************************
********************************************* HELPER CLASSES *************************************************
*************************************************************************************************************/
.container{
    max-width: 1450px;
    overflow: hidden;
}
.container-fluid{
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
}
.row{
    margin-left: -15px;
}
.clearfix:after,
.row:after{
    content: '';
    display: block;
    clear: both;
}
.row .col-12{
    float: left;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-11{
    float: left;
    width: 91.67%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-6{
    float: left;
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-20%{
    float: left;
    width: 20%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col20%{
    float: left;
    width: 20%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-80%{
    float: left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-4{
    float: left;
    width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-3{
    float: left;
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-1{
    float: left;
    width: 8.33%;
    padding: 15px;
    box-sizing: border-box;
}
.row [class*=col-]{
    float: left;
    padding: 15px;
    box-sizing: border-box;
}
.row.no-top-bottom-padding [class*=col-],
[class*=col-].no-top-bottom-padding{
    padding-bottom: 0;
    padding-top: 0;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
.p-0{
    padding: 0;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px;
}
.p-40{
    padding: 40px;
}
.p-t-10{
    padding-top: 10px:important;
}
.p-b-10{
    padding-bottom: 10px;
}
.m-0{
    margin: 0;
}
.m-10{
    margin: 10px;
}
.m-20{
    margin: 20px;
}
.m-30{
    margin: 30px;
}
.m-40{
    margin: 40px;
}
.m-t-0{
    margin-top: 0;
}
.img-responsive{
    width: 100%;
}
.container{
    width: 960px;
    margin: 0 auto;
}
.container-fluid{
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
}
.row{
    margin-left: -15px;
}
.clearfix:after,
.row:after{
    content: '';
    display: block;
    clear: both;
}
.row .col-12{
    float: left;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-11{
    float: left;
    width: 91.67%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-6{
    float: left;
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-4{
    float: left;
    width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-3{
    float: left;
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-1{
    float: left;
    width: 8.33%;
    padding: 15px;
    box-sizing: border-box;
}
.row [class*=col-]{
    float: left;
    padding: 15px;
    box-sizing: border-box;
}
.row.no-top-bottom-padding [class*=col-],
[class*=col-].no-top-bottom-padding{
    padding-bottom: 0;
    padding-top: 0;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
.p-0{
    padding: 0;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px;
}
.p-40{
    padding: 40px;
}
.p-t-10{
    padding-top: 10px:important;
}
.p-b-10{
    padding-bottom: 10px;
}
.m-0{
    margin: 0;
}
.m-10{
    margin: 10px;
}
.m-20{
    margin: 20px;
}
.m-30{
    margin: 30px;
}
.m-40{
    margin: 40px;
}
.m-t-0{
    margin-top: 0;
}
.img-responsive{
    width: 100%;
}
/*************************************************************************************************************
********************************************* NAVBAR CLASSES *************************************************
*************************************************************************************************************/
.navbar{
    width: 100%;
    height: 45px;
    line-height: 45px;
}
.navbar-fixed{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}
.navbar-white{
    background-color: #FFF;
    color: #4f6526;
}
.navbar-blue{
    background: #0077B6;
}
.menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu .menu-item{
    display: inline-block;
    text-transform: uppercase;
}
.menu .menu-item a{
    display: inline-block;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
}
.menu-item{
    text-transform: capitalize;
    display: block;
}
.menu-item a{
    display: block;
}
.navbar-white .menu .menu-item a:link,
.navbar-white .menu .menu-item a:visited{
    color: #4f6526;
}
.navbar-white .menu .menu-item a:hover,
.navbar-white .menu .menu-item {
    color: #4f6526;
}
.navbar-blue .menu .menu-item a:hover{
    background: #FC3;
}
.navbar-white .menu .menu-item a:hover{
    background: #CCC;
}
.menu-item a:link,
.menu-item a:visited{
    color: #4f6526;
}
.search-box{
    padding: 0 20px;
    font-size: 24px;
}
.search-box:hover{
    background: #4f6526;
    cursor: pointer;
    color: white;
}
.navbar-shadow{
    box-shadow: 0px 15px 30px -10px #CCC;
}
.right-margin-5{
    margin-right: 5px;
}
/*************************************************************************************************************
********************************************* IMAGE CLASSES *************************************************
*************************************************************************************************************/
.imgS img{
    width: 100%;
}
/*************************************************************************************************************
********************************************* VEGETABLE CLASSES *************************************************
*************************************************************************************************************/
.vegGridParent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.cardVeg1:hover{
    background-color: #F5F5F5;
    cursor: pointer;
}
.cardVeg2:hover{
    background-color: #F5F5F5;
    cursor: pointer;
}
.cardVeg3:hover{
    background-color: #F5F5F5;
    cursor: pointer;
}
.vegGridParent1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 30px;
}
.cardVeg4:hover{
    background-color: #F5F5F5;
    cursor: pointer;
}
.cardVeg5:hover{
    background-color: #F5F5F5;
    cursor: pointer;
}
.cardVeg6:hover{
    background-color: #F5F5F5;
    cursor: pointer;
}

h1{
    text-align: center;
    color: #4f6526;
}

.fruits{
    margin-top: 150px;
}
.contentVeg h2{
    color: #4f6526;
}
.contentVeg h4{
    color: #4f6526;
}













.btn{
    margin-top: 50px;
    text-align: center;
}
button{
    outline: 0;
}
button:hover{
    cursor: pointer;
}
button.active{
    outline: 0;
}
button.send{
    border: 2px solid #FFF;
    color: white;
    border-radius: 50px;
    padding: 15px 80px;
    background: #4f6526;
    position: relative;
    overflow: hidden;
    transform: translateY(-50%);
    font-weight: bold;
}
button.send .text{
    font-size: 16px;
    margin-top
}
button.send .text.active{
    transform: translateY(-350%) scale(0);
    transition: 0.35s cubic-bezier(0.34, -0.61, 1, 0.64);
}
button.send.active{
    padding: 0px 80px;
    transition: 0.4s cubic-bezier(0.35, -0.77, 0.67, 1.88);
}
button.send .loader{
    position: absolute;
    width: calc(0% - 4px);
    height: calc(100% - 4px);
    background-color: #FFF;
    left: 2px;
    top: 2px;
    border-radius: 50px;
}
button.send .loader.active{
    width: calc(100% - 4px);
    transition: 1.3s ease-in-out;
    transition-delay: 0.5s;
}
button.send .done{
    color: #4f6526;
    margin-top: -15px;
    transform: translateY(300%) scale(0);
}
button.send .done.active{
    transform: translateY(0%) scale(1);
    transition: 0.4s cubic-bezier(0.34, -0.61, 1, 0.64);
    font-weight: bold;
    color: #4f6526;
}
button.send.finished{
    padding: 15px 80px;
    transition: 0.4s cubic-bezier(0.35, -0.77, 0.67, 1.88);
}
/*************************************************************************************************************
********************************************* CONTACT SECTION *************************************************
*************************************************************************************************************/
.form-control{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: solid 1px #4f6526;
    margin-bottom: 8px;
}
.contact-details p,
.contact-details i{
    font-size: 18px;
}
p{
    color: #4f6526;
}
i{
    color: #4f6526;
}
.DC{
    text-align: center;
    font-size: 20px;
}